*.swp
*.o
tags
test.cfg
*.user
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
cmake_uninstall.cmake
lang/cmake_install.cmake
lang/nemu.mo
install_manifest.txt
build
qemu
.ycm_extra_conf.py
.color_coded
compile_commands.json
