[main]
# virtual machine dir.
vmdir = /home/user/nemu_vm

# path to database file.
db = /home/user/.nemu.db

# path to debug log file. Example:
# debug_path = /tmp/nemu_debug.log

# override highlight color of running VM's. Example:
# hl_color = 00afd7

[viewer]
# default protocol (1 - spice, 0 - vnc)
spice_default = 1

# vnc client path.
vnc_bin = /usr/bin/vncviewer

# vnc client args (%t - title, %p - port)
vnc_args = :%p

# spice client path.
spice_bin = /usr/bin/remote-viewer

# spice client args (%t - title, %p - port)
spice_args = --title %t spice://127.0.0.1:%p

# listen for vnc|spice connections (0 - only localhost, 1 - any address)
listen_any = 0

[qemu]
# path to directory, where QEMU binary can be found.
qemu_bin_path = /usr/bin

# comma separated QEMU system targets installed.
targets = x86_64,i386

# Log last QEMU command.
enable_log = 1

# Log path.
log_cmd = /tmp/qemu_last_cmd.log

# QMP snapshot timeout in seconds
snapshot_timeout = 300

[nemu-monitor]
# Auto start monitoring daemon
autostart = 1

# Monitoring daemon pid file
pid = /tmp/nemu-monitor.pid

# Enable D-Bus feature
dbus_enabled = 1

# Message timeout (ms)
dbus_timeout = 2000
