[main]
# virtual machine dir.
vmdir = /home/user/qemu_vm

# path to database file.
db = /home/user/.nemu.db

# override highlight color of running VM's. Example:
# hl_color = 00afd7

[vnc]
# vnc binary path.
binary = /usr/bin/vncviewer

# listen for vnc connections (0 = only localhost, 1 = any address)
listen_any = 0

[qemu]
# comma separated QEMU system targets installed.
targets = x86_64,i386

# Log last QEMU command.
enable_log = 1

# Log path.
log_cmd = /tmp/qemu_last_cmd.log
