name: freebsd

on:
  push:
    branches: [ master ]

jobs:
  freebsd:
    runs-on: [ self-hosted, freebsd-do ]

    steps:
      - name: FreeBSD-13.0 build test_
        run: |
          git clone https://github.com/nemuTUI/nemu
          cd nemu && mkdir build && cd build
          cmake ../ -DNM_WITH_DBUS=ON -DNM_WITH_REMOTE=ON
          make
