name: linux

on:
  workflow_dispatch:
    branches: [ master ]
  push:
    branches: [ master ]

permissions:
  security-events: write

jobs:
  cleanup:
    runs-on: [ self-hosted, linux-do ]
    container: grafin1992/nemu-ci:v1.2
    steps:
      - name: Clean workspace
        run: |
          rm -rf nemu

  clone:
    runs-on: [ self-hosted, linux-do ]
    container: grafin1992/nemu-ci:v1.2
    needs: cleanup

    steps:
      - name: Get nEMU sources
        run: |
          git clone --depth 1 https://github.com/nemuTUI/nemu

  configure:
    runs-on: [ self-hosted, linux-do ]
    container: grafin1992/nemu-ci:v1.2
    needs: clone

    steps:
      - name: Configure nEMU build
        run: |
          cd nemu && mkdir build && cd build
          cmake -G Ninja ../ \
            -DNM_WITH_NETWORK_MAP=ON -DNM_WITH_DBUS=ON -DNM_WITH_REMOTE=ON

  build:
    runs-on: [ self-hosted, linux-do ]
    container: grafin1992/nemu-ci:v1.2
    needs: configure

    steps:
      - name: Build nEMU
        run: |
          cd nemu/build
          ninja

  codeql:
    runs-on: [ self-hosted, linux-do ]
    container: grafin1992/nemu-ci:v1.2
    needs: configure

    steps:
      - name: Check with CodeQL
        run: |
          echo "TODO"

  cppcheck:
    runs-on: [ self-hosted, linux-do ]
    container: grafin1992/nemu-ci:v1.2
    needs: configure

    steps:
      - name: Check with cppcheck
        run: |
          cd nemu
          ./ci/cppcheck-sarif.py \
            -a "--enable=all --suppress=missingIncludeSystem --xml -q" \
            -o ./cppcheck.sarif -p src/ ./src
          /codeql/codeql github upload-results \
            --repository="${GITHUB_REPOSITORY}" --ref="${GITHUB_REF}" \
            --commit="${GITHUB_SHA}" --sarif=./cppcheck.sarif

  codespell:
    runs-on: [ self-hosted, linux-do ]
    container: grafin1992/nemu-ci:v1.2
    needs: configure

    steps:
      - name: Check with codespell
        run: |
          echo "TODO"
